.projects-horizontal {
  color: #313437;
  background-color: #fff;
}

.projects-horizontal p {
  color: #7d8285;
}

.projects-horizontal h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .projects-horizontal h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.projects-horizontal .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 10px;
}

.projects-horizontal .projects {
  padding-bottom: 40px;
}

.projects-horizontal .item {
  padding-top: 60px;
  min-height: 160px;
}

@media (max-width:767px) {
  .projects-horizontal .item {
    padding-top: 40px;
    min-height: 160px;
  }
}

.projects-horizontal .item .name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  color: inherit;
}

@media (max-width:991px) {
  .projects-horizontal .item .name {
    margin-top: 22px;
  }
}

.projects-horizontal .item .description {
  font-size: 15px;
  margin-bottom: 0;
}

.freelancer {
  font-size: 10px;
  font-family: 'Segoe UI Regular';
  color: #707070;
  height: 17px;
}

@media (min-width: 576px) {
  .freelancer {
    font-size: 10px;
    font-family: 'Segoe UI Regular';
    color: #707070;
    height: 24px;
  }
}

.student {
  font-size: 10px;
  color: #707070;
  border: 1px solid rgba(112,112,112,0.31) ;
  border-top-style: none;
  border-bottom-style: none;
  height: 17px;
}

@media (min-width: 576px) {
  .student {
    font-size: 10px;
    color: #707070;
    border: 1px solid rgba(112,112,112,0.31) ;
    border-top-style: none;
    border-bottom-style: none;
    height: 24px;
  }
}

.video {
  font-size: 12px;
  color: #707070;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
}

.row.row-cols-3.Name {
  margin-top: -26px;
}

.Freelancer {
  font-size: 10px;
  color: #707070;
  text-align: center;
}

.container.footer {
  width: -176px;
}

.row.footer {
  margin-top: -56px;
  height: 10vh;
  width: 100%;
  max-width: 100%;
}

.col-4.border-white {
  height: 74px;
  max-width: 73px;
}

#hero-bottom {
  width: 100%;
  height: 20vh;
  margin-top: -38px;
}

@media (min-width: 768px) {
  #hero-bottom {
    width: 100%;
    height: 20vh;
    margin-top: -13px;
  }
}

#experience {
  background: #e4e4e4;
  height: 191vh;
  margin-top: 14px;
}

@media (min-width: 768px) {
  #experience {
    background: #e4e4e4;
    height: 88vh;
    margin-top: 20px;
  }
}

.experience-img-1 {
  background: url("../../assets/img/Group%2089.png") center top / 120px no-repeat;
  height: 25vh;
}

.experience-text-1 {
  color: #707070;
  font-size: 28px;
  margin-top: -31px;
  font-family: 'Segoe UI Regular';
}

@media (min-width: 768px) {
  .experience-text-1 {
    color: #707070;
    font-size: 24px;
    margin-top: -22px;
  }
}

.experience-img-2 {
  background: url("../../assets/img/testimonials.png") center top / 130px no-repeat;
  height: 25vh;
}

.experience-img-3 {
  height: 25vh;
  background: url("../../assets/img/checklist.png") center top / 120px no-repeat;
}

.row.row-cols-3.justify-content-center.align-items-center {
}

.p-heading-1 {
  font-size: 9px;
  color: #707070;
}

@media (min-width: 576px) {
  .p-heading-1 {
    font-size: 13px;
    color: #707070;
  }
}

.p-heading-2 {
  font-family: 'Segoe UI Regular';
  font-size: 9px;
}

@media (min-width: 576px) {
  .p-heading-2 {
    font-family: 'Segoe UI Regular';
    font-size: 13px;
  }
}

.p-heading-3 {
  font-size: 9px;
  color: #707070;
}

@media (min-width: 576px) {
  .p-heading-3 {
    font-size: 13px;
    color: #707070;
  }
}

.text-center.portofolio-img-3 {
  width: `00%;
  background: url("../../assets/img/SARAS.png") center / 290px no-repeat;
  height: 25vh;
}

.text-center.portofolio-img-4 {
  height: 25vh;
  background: url("../../assets/img/SARAS%202.png") center / 290px no-repeat;
}

.text-center.portofolio-img-5 {
  height: 25vh;
  background: url("../../assets/img/PAMER.png") center / 290px no-repeat;
}

.text-center.portofolio-img-6 {
  background: url("../../assets/img/PAK%20KOST.png") center / 290px no-repeat;
  height: 25vh;
}

.text-center.portofolio-img-7 {
  height: 25vh;
  background: url("../../assets/img/2.png") center / 290px no-repeat;
}

.text-center.portofolio-img-8 {
  background: url("../../assets/img/1.png") center / 290px no-repeat;
  height: 25vh;
}

.text-center.portofolio-img-9 {
  height: 25vh;
  background: url("../../assets/img/6.png") center / 290px no-repeat;
}

.text-center.portofolio-img-10 {
  height: 25vh;
  background: url("../../assets/img/7.png") center / 290px no-repeat;
}

.text-center.portofolio-img-11 {
  background: url("../../assets/img/8.png") center / 290px no-repeat;
  height: 25vh;
}

.text-center.portofolio-img-12 {
  height: 25vh;
  background: url("../../assets/img/GOJEK.png") center / 290px no-repeat;
}

.experience-text-2 {
  font-family: 'Segoe UI Regular';
  font-size: 28px;
  margin-top: -9px;
  color: #707070;
}

@media (min-width: 768px) {
  .experience-text-2 {
    font-family: 'Segoe UI Regular';
    font-size: 24px;
    margin-top: -1px;
    color: #707070;
  }
}

