.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

.w-100.d-block {
}

.slide-coresel-1 {
  background: url("../../assets/img/Group%2025.png") center / 280px no-repeat;
  height: 37vh;
  margin-top: 9px;
}

@media (min-width: 768px) {
  .slide-coresel-1 {
    background: url("../../assets/img/Group%2025.png") center 165px / 430px no-repeat;
    height: 50vh;
    margin-top: 8px;
  }
}

.slide-coresel-2 {
  background: url("../../assets/img/Group%2026.png") center / 280px no-repeat;
  height: 37vh;
  margin-top: 9px;
}

@media (min-width: 768px) {
  .slide-coresel-2 {
    background: url("../../assets/img/Group%2026.png") center 165px / 430px no-repeat;
    height: 50vh;
    margin-top: 8px;
  }
}

.fas.fa-home.home {
  border-color: transparent;
  color: #707070;
  font-size: 40px;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .fas.fa-home.home {
    border-color: transparent;
    color: #707070;
    font-size: 67px;
    margin-right: 38px;
  }
}

.fab.fa-instagram.ig {
  border-color: transparent;
  color: #707070;
  font-size: 40px;
  margin-right: 0px;
}

@media (min-width: 768px) {
  .fab.fa-instagram.ig {
    border-color: transparent;
    color: #707070;
    font-size: 67px;
    margin-right: 38px;
  }
}

.icon.ion-social-whatsapp-outline.wa {
  border-color: transparent;
  color: #707070;
  font-size: 40px;
}

@media (min-width: 768px) {
  .icon.ion-social-whatsapp-outline.wa {
    border-color: transparent;
    color: #707070;
    font-size: 67px;
  }
}

