#hero-1 {
  width: 100%;
  height: 91vh;
  background: url("../../assets/img/indo.png") center bottom / 280px no-repeat, #e4e4e4;
}

@media (min-width: 576px) {
  #hero-1 {
    width: 100%;
    height: 128vh;
    background: url("../../assets/img/indo.png") center bottom / 420px no-repeat, #e4e4e4;
  }
}

#hero {
  width: 100%;
  height: 86vh;
  background: url("../../assets/img/photo_2021-01-01_10-33-49.png") center bottom no-repeat, #e4e4e4;
  background-size: 501px;
}

@media (min-width: 768px) {
  #hero {
    background: url("../../assets/img/photo_2021-01-01_10-33-49.png") bottom / 750px no-repeat, #e4e4e4;
    width: 100%;
    height: 110vh;
  }
}

.navbar-light .navbar-brand {
  font-family: 'Segoe UI Regular';
  color: #707070;
}

.navbar-light .navbar-toggler-icon {
  color: #707070;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

#navcol-1 {
  font-family: 'Segoe UI Regular';
  color: #707070;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #707070;
  margin-right: 34px;
}

.navbar-light .navbar-nav .nav-link {
  color: #707070;
  margin-right: 27px;
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 27px;
    margin-top: 79px;
  }
}

@media (min-width: 992px) {
  .h1, h1 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 27px;
    margin-top: 79px;
  }
}

@media (min-width: 768px) {
  .h1, h1 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 27px;
    margin-top: 117px;
  }
}

@media (min-width: 576px) {
  .h1, h1 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 32px;
    margin-top: 79px;
  }
}

.h1, h1 {
  font-family: 'Segoe UI Regular';
  color: #707070;
  font-size: 24px;
  text-align: center;
  margin-top: 51px;
  height: 63px;
  min-width: 0;
  margin-bottom: 8px;
}

.h6, h6 {
  font-family: 'Segoe UI Regular';
  color: #707070;
  font-size: 10px;
  margin-top: -4px;
  text-align: center;
}

@media (min-width: 768px) {
  .h6, h6 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 16px;
    margin-top: -35px;
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .h6, h6 {
    font-family: 'Segoe UI Regular';
    color: #707070;
    font-size: 16px;
    margin-top: -35px;
    text-align: center;
  }
}

.btn.btn-outline-secondary.btn-sm.text-center {
  margin-top: 5px;
  font-size: 11px;
}

.material-icons {
  color: #707070;
  font-size: 89px;
}

.about {
  margin-top: 98px;
  font-size: 69px;
  color: #707070;
  text-align: center;
}

@media (min-width: 992px) {
  .about {
    margin-top: 102px;
    font-size: 83px;
    color: #707070;
  }
}

@media (min-width: 768px) {
  .about {
    margin-top: 98px;
    font-size: 81px;
    color: #707070;
  }
}

.keterangan {
}

.about {
  margin-top: 98px;
  font-size: 67px;
  color: #707070;
}

.keterangan {
  font-family: 'Segoe UI Regular';
  color: #707070;
  font-size: 18px;
  margin-top: 52px;
  width: 100%;
}

#projects {
  background: #e4e4e4;
  height: 19vh;
  max-height: 100vh;
  min-height: 73vh;
}

@media (min-width: 768px) {
  #projects {
    background: #e4e4e4;
    height: 79vh;
    max-height: 100vh;
    min-height: 50vh;
  }
}

img {
  margin-top: 72px;
  background: url("../../assets/img/Group%2020.png");
}

.btn:not(:disabled):not(.disabled) {
}

.see-more {
  margin-top: 17px;
  font-family: 'Segoe UI Regular';
  background: #1e69be;
  border-radius: 23px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .see-more {
    margin-top: 12px;
    font-family: 'Segoe UI Regular';
    background: #1e69be;
    font-size: 19px;
  }
}

.img-1 {
}

.service-1 {
  color: #707070;
  margin-top: 23px;
}

.img-fluid {
  width: 100%;
  background: url("../../assets/img/Group%2021.png") center / 281px no-repeat;
  margin-top: -10px;
  min-width: 75%;
  max-height: 100vh;
  min-height: 30vh;
}

@media (min-width: 768px) {
  .img-fluid {
    width: 100%;
    background: url("../../assets/img/Group%2021.png") center / 380px no-repeat;
    margin-top: 11px;
    min-width: 50%;
    max-height: 66vh;
    min-height: 31vh;
  }
}

@media (min-width: 768px) {
  .container.project {
    height: 1000px;
  }
}

#service {
  margin-top: -122px;
  height: 486px;
}

@media (min-width: 768px) {
  #service {
    margin-top: -122px;
    height: 486px;
  }
}

:root {
  scroll-behavior: smooth;
  transition-duration: 1000ms;
}

.d-flex.d-md-flex.align-items-center.justify-content-md-center.align-items-md-center.social-icons.justify-content-center {
  background: rgb(228,228,228);
  height: 125px;
  margin-top: 590px;
}

@media (min-width: 768px) {
  .d-flex.d-md-flex.align-items-center.justify-content-md-center.align-items-md-center.social-icons.justify-content-center {
    background: rgb(228,228,228);
    height: 153px;
    margin-top: 64px;
  }
}

#carousel-1 {
  height: 256px;
  min-width: 40%;
  max-width: 100%;
  width: 100%;
  margin-top: 610px;
  background: #e4e4e4;
}

@media (min-width: 576px) {
  #carousel-1 {
    height: 257px;
    min-width: 40%;
    max-width: 100%;
    width: 100%;
    margin-top: 85px;
    background: #e4e4e4;
  }
}

@media (min-width: 768px) {
  #carousel-1 {
    height: 504px;
    min-width: 40%;
    max-width: 100%;
    width: 100%;
    margin-top: 83px;
    background: #e4e4e4;
  }
}

.w-100.d-block {
  background: #e4e4e4;
}

.coresel {
  height: 25vh;
  width: 100%;
  background: url("../../assets/img/Group%2025.png") center 90px / 329px no-repeat;
  margin-top: 0px;
}

.carousel-indicators {
  font-size: 56px;
}

.row.slide {
  width: 100%;
}

.img-2 {
  width: 100%;
}

.carousel-item.active.d-flex.justify-content-center {
}

#hero-bottom .container {
  max-width: 600px;
}

.skill-head {
  font-family: 'Segoe UI Regular';
  color: #707070;
  font-size: 59px;
  margin-top: 70px;
}

.skill-1 {
  background: url("../../assets/img/premier.png") top center / 100px no-repeat;
  height: 15vh;
}

.skill-1-head {
  font-family: 'Segoe UI Regular';
  font-size: 15px;
  text-align: center;
  margin-top: 14px;
  color: #707070;
}

.skill-1-image.text-center {
  background: url("../../assets/img/Group%2028.png") center / 120px no-repeat;
  height: 5vh;
  width: 100%;
}

.skill-2.text-center {
  background: url("../../assets/img/after-effects.png") center top / 100px no-repeat;
  height: 15vh;
}

.skill-2-head {
  font-size: 15px;
  font-family: 'Segoe UI Regular';
  color: #707070;
  margin-top: 14px;
  text-align: center;
}

.skill-2-image.text-center {
  height: 5vh;
  background: url("../../assets/img/Group%2029.png") center / 120px no-repeat;
  width: 100%;
}

.skill-3.text-center {
  background: url("../../assets/img/photoshop.png") top center / 100px no-repeat;
  height: 15vh;
}

.skill-4.text-center {
  background: url("../../assets/img/illustrator.png") top center / 100px no-repeat;
  height: 15vh;
}

.skill-5.text-center {
  height: 15vh;
  background: url("../../assets/img/experience.png") top center / 100px no-repeat;
}

.skill-3-image.text-center {
  width: 100%;
  background: url("../../assets/img/Group%2030.png") center / 120px no-repeat;
  height: 5vh;
}

@media (min-width: 768px) {
  .head {
    font-size: 42px;
  }
}

.head-portofolio {
  color: #707070;
  font-size: 59px;
  text-align: center;
  margin-top: 78px;
}

.portofolio-img-1 {
  height: 25vh;
  background: url("../../assets/img/SANI.png") center / 290px no-repeat;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .portofolio-img-1 {
    height: 25vh;
    background: url("../../assets/img/SANI.png") center / 290px no-repeat;
    max-width: 100%;
    width: 100%;
  }
}

.text-center.portofolio-img-2 {
  min-height: auto;
  min-width: auto;
  background: url("../../assets/img/SANI%202.png") center / 290px no-repeat;
  height: 25vh;
}

@media (min-width: 768px) {
  .text-center.portofolio-img-2 {
    min-height: auto;
    min-width: auto;
    background: url("../../assets/img/SANI%202.png") center / 290px no-repeat;
    height: 25vh;
  }
}

